<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
</head>
<body>
    <h1> Making a chatbot </h1>
    <form method="POST" action="/setup-profile">
        <button type="submit">Setup profile</button>
    </form>
    <form method="POST" action="/setup-persistent-menu">
      <button type="submit">Setup-Persistent Menu</button>
  </form>
<!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>

<!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "108849608268818");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v13.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
    <!-- Your Chat Plugin Code -->
    <div class="fb-customerchat" attribution="setup_tool" page_id="108849608268818" theme_color="#0A7CFF"
    logged_in_greeting="Xin chào. Mình có thể giúp gì cho bạn?"
    logged_out_greeting="Xin chào. Mình có thể giúp gì cho bạn?">
    </div>
</body>
</html>